/*
Main Stylesheet

URL: 				http://theengineisred.com/
Created by: 		Mike Rusczyk
For:				The Engine is Red
Site Design by:		The Engine is Red

*/


@font-face {
   font-family: 'helvetica-neue-lt-std-75-bold';
   src: url('fonts/helvetica-neue-lt-std-bd/helveticaneueltstd-bd-webfont.eot');
   src: url('fonts/helvetica-neue-lt-std-bd/helveticaneueltstd-bd-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/helvetica-neue-lt-std-bd/helveticaneueltstd-bd-webfont.woff') format('woff'),
        url('fonts/helvetica-neue-lt-std-bd/helveticaneueltstd-bd-webfont.ttf') format('truetype'),
        url('fonts/helvetica-neue-lt-std-bd/helveticaneueltstd-bd-webfont.svg#helvetica_neue_lt_std75_bold') format('svg');
   font-weight: normal;
   font-style: normal;
	}

* {
	margin: 0;
	padding: 0;
	}
	
	/*
	*::selection {
	      }

	*::-moz-selection {
		}
	*/
	
body {
	vertical-align: baseline; 
	line-height: 1.3;
	background-color: #000;
	font-size: 62.5%;
	font-family: "helvetica neue", arial, sans-serif;
	font-weight: 300;
	}				
	
/* ----- Core styles ----- */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, iframe, img {
	display : block; 
	}
	
h3, h4, h5 {
	font-weight: 300;
	}	
	
hr {
	display: none;
	}
	
/* --------- Global Forms -------- */

fieldset {
	border-style: none;
	}
	
	.form-actions, .form-item {
		margin: 2em 0;
		}
	
	form .description {
		font-size: 14px;
		padding: 4px 0 0;
		}
		
	form .form-required, form .marker {
		color: #F57B20;
		}
	
input, textarea, select {
	font-size: 14px;
	padding: 3px;
	font-family: "helvetica neue", arial, sans-serif;
	border: 1px solid #fff;
	background-color: #fff;
	
	transition: all 200ms ease;
	-o-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-webkit-transition: all 200ms ease;
	}
	
input, textarea {
	padding: 5px;
	}	

	input:hover, textarea:hover {
		
		-webkit-box-shadow: inset 1px 1px 2px -3px #333;
		-moz-box-shadow: inset 1px 1px 2px -3px #333;
		box-shadow: inset 1px 1px 2px -3px #333;
		}

	input[type="submit"], input[type="button"] {
		cursor: pointer;
		border-style: none;
		text-decoration: uppercase;
		font-size: 18px;
		font-weight: 300;
		text-transform: uppercase;
		color: #fff;
		background-color: transparent;
		}
		
		input[type="submit"]:hover, input[type="submit"]:focus, input[type="button"]:hover, input[type="button"]:focus {
			}			
		
		input[type="submit"]:focus {
			outline-style: none;
			}		
			
	input[type="text"], input[type="password"] {
		transition: background-color .2s;
	   	-o-transition: background-color .2s;
	   	-moz-transition: background-color .2s;
	   	-webkit-transition: background-color .2s;
		}	
		
label {
	font-size: 14px;
	display: block;
	margin-bottom: 5px;
	font-weight: 300;
	}	
	
label.option {
	padding-left: 5px;
	}			

/* ---------- */		
	
li {
	list-style-type: none;
	}		
		
p {
	font-size: 2.2em;
	line-height: 1.8;
	margin: 1.3em 0;
	}
		
table {
	width: 100%;
	}		
		
/* ~ ~ ~ ~ CLASS SPECIFIC ~ ~ ~ ~ */

	.contact .container h1 {
		margin: 0 auto;
		text-transform: none;
		text-align: center;
		padding: 100px 20px 43px;
		max-width: 1200px;
		font-size: 70px;
		line-height: 1;
		font-family: "helvetica-neue-lt-std-75-bold", "helvetica neue", arial, sans-serif;

		transition: all 200ms ease;
	   	-o-transition: all 200ms ease;
	   	-moz-transition: all 200ms ease;
	   	-webkit-transition: all 200ms ease;
		}		

		.contact .form-container a {
			color: #fff;
			border-bottom: 1px solid rgba(152,152,152, .3);
			}	

			.contact .form-container a:hover {
				color: #00AEEF;
				border-color: rgba(0,174,239, .5);
				}

		.contact .form-container p {
		    line-height: 1.8;
			font-weight: 300;
		    }	

		.contact .form-container strong {
			color: #00AEEF;
			font-weight: 100;	
			}

			.contact #item-id-11 input[type="text"], .contact #item-id-11 input[type="email"] {
				width: 257px;
				background-color: transparent;
				}

		.contact #site-sections li.site-contact, .message #site-sections li.site-contact, .user #site-sections li.site-contact {
			display: none;
			}
		
		.contact #site-sections li.site-contact-link, .message #site-sections li.site-contact-link, .user #site-sections li.site-contact-link {
			display: block;
			}

		.contact #wrapper > header {
			display: none;
			}
			
.contact-message {
	display: none;
	font-size: 30px;
	margin: 70px 30px 15px;
	}
	
	.contact-message h2 {
		font-size: 42px;
		}
	
/* ---------- */					

.element-invisible {
	display: none;
	}
	
/* ----- Employment section ----- */

	.jobs #content {
		max-width: 760px;
		padding: 0 80px;
		font-weight: 300;
		font-size: 18px;
		letter-spacing: 0.03em;
		}

		.jobs #content a {
			color: #EC008C;
			border-bottom: 1px solid rgba(236,0,140, .3);
			}	

			.jobs #content a:hover {
				color: #fff;
				border-color: rgba(255,255,255, .5);
				}
				
		.jobs #content h1 {
			display: none;
			}
			
		.jobs #content h2.alt {
			margin-bottom: 30px;
			}
			
		.jobs #content h3 {
			font-size: 22px;
			margin: 60px 0 10px;
			}
			
		.jobs #content li {
			line-height: 2;
			margin-bottom: .5em;
			}

		.intagme p {
			text-align: justify;
			line-height: 2.2em;
			font-size: 22px;
			}

		.jobs #content small {
			font-size: 16px;
			color: #00AEEF;
			text-transform: uppercase;
			}	

		.jobs #content ol, .jobs #content ul {
			margin: 0 0 1.3em 2em;
			}

		.jobs #content .additional-links {
			margin: 0 0 1.3em;
			}	
			
			.jobs #content .additional-links ul {
				margin: 0 0 1.3em;
				}

			.jobs #content ol li {
				list-style-type: decimal;
				}	

			.jobs #content ul li {
				list-style-type: square;
				}

			.jobs #content .additional-links li {
				list-style-type: none;
				}

	.jobs h1 {
		bottom: 80px;
		left: 50%;
		position: absolute;
		margin-left: -20px;
		}	
		
		.jobs h1 a {
			width: 40px;
			height: 36px;
			text-indent: -90009em;
			display: block;
			background: transparent url("images/cube.png") no-repeat 0 0;
			}
			
			.jobs h1 a:focus {
				outline-style: none;
				}
			
			.jobs h1 a:hover {
				opacity: .8;
				}
				
	.jobs h2 {
		font-size: 32px;
		}			
			
	.jobs #wrapper {
		padding-bottom: 160px;
		position: relative;
		}	

/* ---------- */	
	
	.message #message-container {
		display: none;
		}	
		
.message-content {
	opacity: 0;
	font-size: 30px;
	line-height: 2.2;
	text-align: justify;
	padding: 0 20px;
	max-width: 760px;
	margin: 0 auto;
	font-family: "proxima-nova","helvetica neue",arial,sans-serif;
	
	transition: all 200ms ease;
   	-o-transition: all 200ms ease;
   	-moz-transition: all 200ms ease;
   	-webkit-transition: all 200ms ease;
	}
	
	.messaging a {
		color: #fff;
		border-bottom: 1px solid rgba(152,152,152, .3);
		}	
	
		.messaging a:hover {
			color: #00AEEF;
			border-color: rgba(0,174,239, .5);
			}
	
	.messaging h2 {
		margin: 0 auto;
		text-transform: none;
		text-align: center;
		padding: 43px 20px;
		max-width: 1200px;
		font-size: 220px;
		line-height: 1;
		font-family: "helvetica-neue-lt-std-75-bold", "helvetica neue", arial, sans-serif;

		transition: all 200ms ease;
	   	-o-transition: all 200ms ease;
	   	-moz-transition: all 200ms ease;
	   	-webkit-transition: all 200ms ease;
		}
		    	
	.messaging p {
	    line-height: 1.8;
		font-weight: 300;
	    }	
		
	.messaging strong {
		color: #00AEEF;
		font-weight: 100;	
		}	

	.node-type-messages h1 {
		display: none;
		}
		
/* ----- RSVP form ----- */			
		
.page-node-82 {
	color: #000;
	background-color: #fff;
	}
	
	.page-node-82 a.back {
		display: block;
		width: 45px;
		height: 40px;
		text-indent: -9009em;
		margin-left: -22px;
		left: 50%;
		bottom: 70px;
		position: fixed;
		background: transparent url("images/rsvp-sprite.png") no-repeat -194px -151px;
		}
		
		.page-node-82 a.back:focus {
			outline-style: none;
			}
		
		.page-node-82 a.back:hover {
			opacity: .7;
			}
			
	.page-node-82 #content {
		max-width: 420px;
		padding: 0 20px 120px;
		margin: 0 auto;
		position: relative;
		}

		.page-node-82 #content h1 {
			width: 194px;
			height: 192px;
			text-indent: -9009em;
			margin: 200px auto 120px;
			background-image: url("images/rsvp-sprite.png");
			}

	.page-node-82 .form-item {
		margin: 0 0 24px;
		}

	.page-node-82 header {
		display: none;
		}				
		
		.page-node-82 input[type="email"], .page-node-82 input[type="text"], .page-node-82 select, .page-node-82 textarea {
			width: 100%;
			padding: 2px 5px;
			border: 1px solid #ccc;
			text-transform: uppercase;
			font-size: 22px;
			color: #9a9a9a;
			background-color: #fff;
			font-weight: 300;
			font-family: "proxima-nova","helvetica neue",arial,sans-serif;
			
			-webkit-box-sizing: content-box;
			-moz-box-sizing: content-box;
			box-sizing: content-box;
			}

		.page-node-82 input[type="submit"] {
			padding: 7px 6px 4px;
			font-size: 22px;
			width: 100%;
			color: #fff;
			background-color: #ea148c;
			font-family: "proxima-nova","helvetica neue",arial,sans-serif;

			-webkit-box-sizing: content-box;
			-moz-box-sizing: content-box;
			box-sizing: content-box;
			}	

			.page-node-82 input[type="submit"]:hover {
				background-color: #00afec;
				}
			
		.page-node-82 ::-webkit-input-placeholder, .page-node-82 :-moz-placeholder, .page-node-82 ::-moz-placeholder, .page-node-82 :-ms-input-placeholder {
		   	color: #9a9a9a;
			opacity: 1;
			}
			
	.page-node-82 select {
		height: 28px;
		}		
		
			.page-node-82 input[type="email"]:focus, .page-node-82 input[type="text"]:focus, .page-node-82 select:focus, .page-node-82 textarea:focus, .page-node-82 input[type="email"]:hover, .page-node-82 input[type="text"]:hover, .page-node-82 select:hover, .page-node-82 textarea:hover {
				color: #ea148c;
				border: 1px solid #aaa;
				}
				
			.page-node-82 select option {
				color: #9a9a9a;
				padding: 5px 8px;
				border-bottom: 1px solid #ccc;
				}
				
				.page-node-82 select option:active, .page-node-82 select option:hover {
					color: #fff;
					background-color: #00afec;
					}
					
	.page-node-82 .links {
		display: none;
		}	

			.page-node-82 #site-sections .site-contact {
				display: none;
				}		

			.page-node-82 #site-sections .site-contact-link {
				display: block;
				}

		.page-node-82 #site-sections .toggle.site-nav {
			background-color: rgba(0,0,0, .3);
			background-position: center -173px;
			
			transition: background-color 200ms ease;
		   	-o-transition: background-color 200ms ease;
		   	-moz-transition: background-color 200ms ease;
		   	-webkit-transition: background-color 200ms ease;
			}
			
			.page-node-82 #site-sections .toggle.site-nav:hover, .page-node-82 #site-sections .toggle.site-nav.active {
				background-color: rgba(0,0,0, 1);
				}
					
	.page-node-82.page-node-done #content {
		margin: 300px auto 120px;
		max-width: 960px;
		min-width: 220px;
		}				
					
		.page-node-82.page-node-done #content h1 {
			display: none;
			}
			
		.page-node-82.page-node-done #content h3 {
			width: 420px;
			height: 145px;
			text-indent: -9009em;
			margin-bottom: 75px;
			background: transparent url("images/rsvp-sprite.png") no-repeat 0 -192px;
			}
			
		.page-node-82.page-node-done #content p {
			color: #9a9a9a;
			font-size: 24px;
			font-weight: 100;
			line-height: 1.6;
			text-transform: uppercase;
			text-align: justify;
			font-family: "proxima-nova", "helvetica neue", arial, sans-serif;
			}		
	
/* ----- admin tabs ----- */	

.tabs {
	bottom: -1px;
	right: 0;
	position: fixed;
	margin: 0;
	z-index: 501;
	width: 100%;
	text-transform: uppercase;
	font-size: 12px;
	color: #fff;
	background-color: #62bee0; /* fall back for non rgba */
	background-color: rgba(0, 0, 0, .2);
	border-top: 1px solid rgba(0,0,0, .3);
	opacity: .9;
	}

	.tabs a {
		color: #fff;
		display: block;
		height: 15px;
		line-height: 15px;
		padding: 6px 20px;
		float: left;
		border-right: 1px solid #3c9ec2;
		background-color: #62bee0;

		box-shadow: 0 0 2px 0 #79cbe9 inset, 0 0 1px 0 #b9e0ef inset;
		-moz-box-shadow: 0 0 2px 0 #79cbe9 inset, 0 0 1px 0 #b9e0ef inset;
		-webkit-box-shadow: 0 0 2px 0 #79cbe9 inset, 0 0 1px 0 #b9e0ef inset;

		transition: all 100ms ease;
	   	-o-transition: all 100ms ease;
	   	-moz-transition: all 100ms ease;
	   	-webkit-transition: all 100ms ease;
		}

		.tabs a:last-child {
			border-left: 1px solid #62bee0;
			}

		.tabs a:hover, .tabs a.active {
			color: #fff;
			background-color: #217a9b;
			border-color: #217a9b;

			box-shadow: 0 0 3px 0 #105974 inset;
			-moz-box-shadow: 0 0 3px 0 #105974 inset;
			-webkit-box-shadow: 0 0 3px 0 #105974 inset;
			}

	.user #content, .users #content {
		max-width: 500px;
		margin: 100px auto;
		}
		
		.user #content h1, .users #content h1 {
			font-family: "helvetica-neue-lt-std-75-bold","helvetica neue",arial,sans-serif;
		    font-size: 120px;
		    line-height: 1;
		    margin: 0 auto;
		    padding: 43px 20px;
		    text-align: center;
		    text-transform: none;
			}
			
			.user #content input[type="text"], .user #content input[type="password"], .users #content input[type="text"], .users #content input[type="password"] {
				width: 100%;
				font-size: 52px;
				
				-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
				-moz-box-sizing: border-box;    /* Firefox, other Gecko */
				box-sizing: border-box;         /* Opera/IE 8+ */
				}	
			
			.user #content .profile, .users #content .profile {
				font-size: 90px;
				text-align: center;
				}
				
		.user #wrapper > header, .users #wrapper > header {
			display: none;
			}

/* ~ ~ ~ ~ ID SPECIFIC ~ ~ ~ ~ */

#contact-container {
	width: 674px;
	padding: 25px;
	top: 75px;
	right: 0;
	position: absolute;
	background-color: rgba(0,0,0, .8);
	display: none;
	z-index: 100;
	}
	
	#contact-container .field-name-body {
		display: none;
		}
	
	#contact-container h2 {
		display: none;
		}

	#contact-container header {
		display: none;
		}
		
		#contact-container #item-id-11 input[type="submit"] {
			color: #000;
			width: 599px;
			}
			
			#contact-container #item-id-11 input[type="submit"]:hover {
				background-color: #FFF200;
				}
		
		#contact-container #item-id-11 input[type="text"], #contact-container #item-id-11 input[type="email"] {
			width: 257px;
			background-color: transparent;
			}
			
		#contact-container #item-id-11 textarea {
			width: 570px;
			background-color: transparent;
			}	
			
/* ----- Contact Form ----- */			

	#item-id-11 .form-actions, #item-id-11 .form-item {
		margin: 0;
		display: inline;
		}

	#item-id-11 .form-item-block {
		display: block;
	}

	#item-id-11 h2 {
		display: none;
		}	

	#item-id-11 input[type="text"], #item-id-11 input[type="email"], #item-id-11 textarea {
		padding: 13px;
		font-size: 24px;
		border: 1px solid #fff;
		margin-bottom: 25px;
		color: #fff;
		background-color: #00aeef;
		font-weight: 100;
		font-family: "proxima-nova", "helvetica neue", arial, sans-serif;
		}

	#item-id-11 input[type="email"] {
		width: 197px;
		}

	#item-id-11 input[type="submit"] {
		color: #00aeef;
		background-color: #fff;
		font-weight: 400;
		padding: 13px 0 10px;
		font-size: 24px;
		display: block;
		}

		#item-id-11 input[type="submit"]:hover {
			background-color: rgba(255,255,255, .8);

			transition: background-color 100ms ease;
		   	-o-transition: background-color 100ms ease;
		   	-moz-transition: background-color 100ms ease;
		   	-webkit-transition: background-color 100ms ease;
			}

	#item-id-11 input[type="text"] {
		width: 198px;
		margin-right: 25px;
		}	

	#item-id-11 textarea {
			height: 120px;
			box-sizing: border-box;
		}

	#item-id-11 input::-webkit-input-placeholder, #item-id-11 textarea::-webkit-input-placeholder {
		color: #fff;
		opacity: .8;
		text-transform: uppercase;
		}

	#item-id-11 input:-moz-placeholder, #item-id-11 textarea:-moz-placeholder { /* Firefox 18- */
		color: #fff;
		opacity: .8;
		text-transform: uppercase; 
		}

	#item-id-11 input::-moz-placeholder, #item-id-11 textarea::-moz-placeholder {  /* Firefox 19+ */
		color: #fff;
		opacity: .8;
		text-transform: uppercase; 
		}

	#item-id-11 input:-ms-input-placeholder, #item-id-11 textarea:-ms-input-placeholder {  
		color: #fff;
		opacity: .8;
		text-transform: uppercase; 
		}	
		
	#message-container {
		position: relative;
		font-size: 22px;
		text-transform: uppercase;
		overflow: hidden;
		}
	
	#message-container a {
		color: #fff;
		border-bottom: 1px solid rgba(255,255,255, .3);
		}
		
		#message-container a:hover {
			border-color: rgba(255,255,255, .8);
			}

		#message-container .hide {
			top: 24px;
			right: 90px;
			position: absolute;
			cursor: pointer;
			text-transform: lowercase;
			font-size: 21px;
			font-weight: 100;
			color: #fff;
		    display: block;
			opacity: .8;
		
			transition: all 100ms ease;
		   	-o-transition: all 100ms ease;
		   	-moz-transition: all 100ms ease;
		   	-webkit-transition: all 100ms ease;
			}
			
			#message-container .hide:hover {
				opacity: .4;
				}
			
			#message-container .hide i {
				font-size: 18px;
				}	

		#message-container .messages {
			color: #fff;
			background-color: #00AEEF;
			padding: 25px 280px 20px 30px;
			min-height: 22px;
			}
			
		#message-container li {
			font-size: 16px;
			list-style: square outside none;
			margin: 15px 20px;
			}

	#postcontent {
		display: none;
		}
		
			#postcontent .form-container .field-name-body {
				display: none;
				}		

/* ----- Sites Navigation / Ejection nav ----- */		

#site-sections {
	color: #fff;
	top: 0;
	right: 0;
	position: fixed;
	z-index: 109;
	}
	
	#site-sections .toggle.site-nav {
		width: 74px;
		height: 74px;
		background-color: #000;
		text-indent: -9009em;
		overflow: hidden;
		display: block;
		cursor: pointer;
		top: 0;
		right: 0;
		position: absolute;
		z-index: 101;
		background: #000 url("images/site-nav.png") no-repeat center -113px;
		}

		#site-sections .toggle.site-nav:hover {
			background-position: center -173px;
			}

	#site-sections .toggle.site-nav.active {
		background-position: center -290px;
		}
			
			#site-sections .toggle.site-nav.active:hover {
				background-position: center -230px;
				}
		
	#site-sections li {
		float: left;
		font-size: 30px;
		position: relative;
		height: 74px;
		line-height: 75px;
		}	
		
	#site-sections li.site-email-link {
		display: none;
		}
		
		#site-sections li a {
			color: #fff;
			display: block;
			width: 80px;
			height: 74px;
			}

			#site-sections li a:hover {
				color: #fff200;
				}

			.a #site-sections li.alpha-nav a {
				color: #fff200;
				}
	
			.b #site-sections li.brovo-nav a {
				color: #fff200;
				}

			.c #site-sections li.charlie-nav a {
				color: #fff200;
				}		
	 	
		#site-sections li span {
			display: none;
			}
			
		#site-sections li.phone a {
			width: auto;
			cursor: auto;
			color: #fff;
			}			
			
		#site-sections li.phone span {
			display: block;
			width: 300px;
			}	
			
	#site-sections li.site-contact-link {
		display: none;
		}
			
		#site-sections li.site-contact-link a, #site-sections li.site-contact span {
			height: 74px;
			width: 110px;
			text-indent: -9009em;
			display: block;
			cursor: pointer;
			background: transparent url("images/site-nav.png") no-repeat center 8px;
			
			transition: none;
   			-o-transition: none;
   			-moz-transition: none;
   			-webkit-transition: none;
			}

			#site-sections li.site-contact-link a:hover, #site-sections li.site-contact.active span, #site-sections li.site-contact span:hover {
				background-position: center -53px;
				}

	#site-sections .nav-container {
		width: 650px;
		font-size: 45px;
		display: none;
		background-color: #000;
		overflow: hidden;
		text-align: center;
		top: 0;
		right: 74px;
		position: absolute;
		z-index: 101;
		color: #fff;
		}	
		
/* ---------- */

body.admin-menu #site-sections {
	top: 29px;
	}			
	

/* ~ ~ ~ ~ Media Queries~ ~ ~ ~ */

	
@media only screen and (min-width: 2000px) { /* ----- Very very large screens ----- */ }	

@media only screen and (max-width: 1800px) { /* ----- Very varge screens ----- */  }

@media only screen and (max-width: 1400px) { /* ----- Large screens ----- */ }

@media only screen and (max-width: 1200px) { /* ----- Standard screens ----- */ }

@media only screen and (max-width: 1024px) { /* ----- Traditional screens ----- */ }

@media only screen and (max-width: 800px) { /* ----- Tablets ----- */
	
.contact-message.active {
	display: block;
	}
	
	.jobs h2 {
		font-size: 28px;
		}

	.jobs #content {
		padding: 0 30px;
		margin: 70px auto 0;
		font-size: 16px;
		}
	
		.jobs #content p {
			text-align: left;
			}

	#message-container .hide {
		display: none;
		}	
		
	#message-container .messages {
		padding: 20px;
		font-size: 18px;
		line-height: 1.8;
		}

	.page-node-82 a.back {
		position: absolute;
		}
		
	.page-node-82.page-node-done #content {
		margin: 60px 20px;
		}
		
		.page-node-82 #content h1 {
			margin: 60px auto;
			}
			
		.page-node-82 input[type="email"], .page-node-82 input[type="submit"], .page-node-82 input[type="text"], .page-node-82 select, .page-node-82 textarea {
			width: 96%;
			}	

		.page-node-82.page-node-done #content p {
			text-align: left;
			}
		
	.page-node-82 #site-sections {
		display: none;
		}	
		
		.page-node-82.page-node-done #content h3 {
			width: 226px;
			height: 78px;
			margin: 20px 0;
			background-position: -194px 0;
			}
	
#site-sections {
	position: absolute;
	}	

	#site-sections .nav-container {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		position: fixed;
		width: auto;
		background-color: rgba(0,0,0, .9);
		}

	#site-sections li {
		display: none;
		float: none;
		margin: 0 auto;
		}

	#site-sections li.phone {
		display: block;
		text-align: center;
		}	
		
		#site-sections li.phone a {
			cursor: pointer;
			}

		#site-sections li.phone span {
			width: auto;
			}
			
	#site-sections li.site-email-link {
		background-image: none;
		display: block;
		width: auto;
		text-align: left;
		width: auto;
		text-transform: lowercase;
		}		

		#site-sections li.site-email-link a {
			padding-left: 70px;
			height: 74px;
			width: 100px;
			margin: 0 auto;
			text-indent: 0;
			padding:;
			display: block;
			cursor: pointer;
			color: #fff;
			background: transparent url("images/site-nav.png") no-repeat left 8px;

			transition: none;
			-o-transition: none;
			-moz-transition: none;
			-webkit-transition: none;
			}	

	#site-sections .toggle.site-nav {
		z-index: 200;
		width: 70px;
		height: 49px;
		margin: 5px 5px 0 0;
		background-position: center -125px !important;
		background-color: rgba(0,0,0, .2);
		
		border-radius: 3px;
		-moz-border-radius: 3px;
		}
		
	#site-sections.is_stuck .toggle.site-nav, #site-sections .toggle.site-nav:hover {
		background-position: center -125px !important;
		background-color: rgba(0,0,0, .2) !important;
		}	
		
	#site-sections .toggle.site-nav.active, #site-sections .toggle.site-nav.active:hover {
		background-position: center -303px !important;
		background-color: rgba(0,0,0, .2) !important;
		}	

}	
			
@media only screen and (max-width: 420px) { /* ----- Handheld devices ----- */ 
	
}	


@media only screen and (max-height: 800px) { /* ----- Small screen height devices ----- */ }
	
